* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #c9cc06, #ff6a00);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
  
  .dashboard-container {
    width: 100%;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.95);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.623);
    text-align: center;
    
  }
  
  .dashboard-header {
    margin-bottom: 30px;
  }
  
  .dashboard-header h1 {
    margin-bottom: 10px;
    color: #000000;
    font-weight: 700;
  }
  
  .delete-user-box {
    margin-top: 20px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #000000;
    font-weight: 500;
    font-size: 14px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #dddddd;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    outline: none;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 15px;
    background: linear-gradient(135deg, #9997a7, #44363d);
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    font-size: 16px;
    font-weight: bold;
  }
  
  button[type="submit"]:hover {
    background: linear-gradient(135deg, #c9cc06, #ff6a00);
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(238, 255, 3, 0.39);
  }
  
  #logout {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }